body {
  font-family: system-ui, sans-serif;
  background: #0f1220;
  color: #f5f5f5;
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
}

main {
  text-align: center;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background: #7c7cff;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
}

.small {
  margin-top: 2rem;
  opacity: 0.6;
  font-size: 0.9rem;
}
.buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
}
.back-btn {
  position: fixed;
  top: 1rem;
  left: 1rem;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #11152a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 1rem;
}

body {
  padding-top: 80px; /* viktig */
}
